auth:
  type: DISABLED

kafka:
  clusters:
  - bootstrapServers: kafka:9000
    name: Kafka (superuser)
    properties:
      security.protocol: SSL
      ssl.keystore.password: <PASSWORD>
      ssl.keystore.location: /etc/kafkaui/secrets/superuser@kafka.keystore.p12
    readOnly: false
    ssl:
      truststoreLocation: /etc/kafkaui/secrets/svc_kafka.truststore.p12
      truststorePassword: <PASSWORD>

rbac:
  roles: []

webclient: {}
