@model LoginRequest;

@{
    ViewData["Title"] = "Login";
}

<form action="/api/auth" method="post" enctype="multipart/form-data" asp-antiforgery="true">
    <input asp-for="ReturnUrl" type="hidden" value="@(Model.ReturnUrl)" />

    <input asp-for="Username" type="text" /><br />

    <input id="password-box" asp-for="Password" type="password" placeholder="Password" />
    <input type="checkbox" onclick="showPassword('password-box')" /><br />

    <input type="submit" value="Login" />
</form>
