@model LoginRequest;

@{
    ViewData["Title"] = "Login";
}

@Html.AntiForgeryToken()

<form id="login-form" action="/api/auth" method="post" enctype="multipart/form-data">
    <input asp-for="Username" type="text" /><br />

    <input id="password-box" asp-for="Password" type="password" placeholder="Password" />
    <input type="checkbox" onclick="showPassword('password-box')" /><br />

    <input type="submit" value="Login" />
</form>

<script>
    document.getElementById('login-form').addEventListener('submit', async function(e) {
        e.preventDefault();
        await login(e.currentTarget, '@(Model.ReturnUrl)');
    });
</script>
