#
# Root certificate
#

[ v3_mtls_root ]
basicConstraints       = critical, @v3_mtls_root_constraints
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer:always
keyUsage               = critical, keyCertSign, cRLSign

[ v3_mtls_root_constraints ]
CA                     = true
pathlen                = 1

#
# Intermediate certificate
#

[ v3_mtls_intermediate ]
basicConstraints       = critical, @v3_mtls_intermediate_constraints
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer:always
keyUsage               = critical, keyCertSign, cRLSign

[ v3_mtls_intermediate_constraints ]
CA                     = true
pathlen                = 0

#
# Server certificates
#

[ v3_mtls_svc_postgres ]
basicConstraints       = critical, @v3_mtls_common_basic_constraints
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer:always
keyUsage               = critical, digitalSignature, keyEncipherment, keyAgreement
extendedKeyUsage       = critical, serverAuth
subjectAltName         = @v3_mtls_svc_postgres_san

[ v3_mtls_svc_postgres_san ]
IP.1                   = 127.0.0.1
DNS.1                  = localhost
DNS.2                  = postgres

[ v3_mtls_svc_kafka ]
basicConstraints       = critical, @v3_mtls_common_basic_constraints
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer:always
keyUsage               = critical, digitalSignature, keyEncipherment, keyAgreement
extendedKeyUsage       = critical, serverAuth, clientAuth # kafka needs both client and server because it is connects to itself
subjectAltName         = @v3_mtls_svc_kafka_san

[ v3_mtls_svc_kafka_san ]
IP.1                   = 127.0.0.1
DNS.1                  = localhost
DNS.2                  = kafka

[ v3_mtls_svc_jobs_webapi ]
basicConstraints       = critical, @v3_mtls_common_basic_constraints
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer:always
keyUsage               = critical, digitalSignature, keyEncipherment, keyAgreement
extendedKeyUsage       = critical, serverAuth
subjectAltName         = @v3_mtls_svc_jobs_webapi_san

[ v3_mtls_svc_jobs_webapi_san ]
IP.1                   = 127.0.0.1
DNS.1                  = localhost
DNS.2                  = webapi

#
# Clients certificates
#

[ v3_mtls_client ]
basicConstraints       = critical, @v3_mtls_common_basic_constraints
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer:always
keyUsage               = critical, digitalSignature, keyAgreement
extendedKeyUsage       = critical, clientAuth

#
# Common
#

[ v3_mtls_common_basic_constraints ]
CA                     = false
