#
# PostgreSQL
#

[ v3_mtls_svc_postgres ]
basicConstraints       = critical, @v3_mtls_common_basic_constraints
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer:always
keyUsage               = critical, digitalSignature, keyEncipherment, keyAgreement
extendedKeyUsage       = critical, serverAuth
subjectAltName         = @v3_mtls_svc_postgres_san

[ v3_mtls_svc_postgres_san ]
IP.1                   = 127.0.0.1
DNS.1                  = localhost
DNS.2                  = postgres

#
# Kafka
#

[ v3_mtls_svc_kafka ]
basicConstraints       = critical, @v3_mtls_common_basic_constraints
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer:always
keyUsage               = critical, digitalSignature, keyEncipherment, keyAgreement
extendedKeyUsage       = critical, serverAuth, clientAuth # kafka needs both client and server because it is connects to itself
subjectAltName         = @v3_mtls_svc_kafka_san

[ v3_mtls_svc_kafka_san ]
IP.1                   = 127.0.0.1
DNS.1                  = localhost
DNS.2                  = kafka

#
# WebApi
#

[ v3_mtls_svc_jobs_webapi ]
basicConstraints       = critical, @v3_mtls_common_basic_constraints
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer:always
keyUsage               = critical, digitalSignature, keyEncipherment, keyAgreement
extendedKeyUsage       = critical, serverAuth
subjectAltName         = @v3_mtls_svc_jobs_webapi_san

[ v3_mtls_svc_jobs_webapi_san ]
IP.1                   = 127.0.0.1
DNS.1                  = localhost
DNS.2                  = webapi

#
# WebApp
#

[ v3_mtls_svc_users_webapp ]
basicConstraints       = critical, @v3_mtls_common_basic_constraints
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer:always
keyUsage               = critical, digitalSignature, keyEncipherment, keyAgreement
extendedKeyUsage       = critical, serverAuth
subjectAltName         = @v3_mtls_svc_users_webapp_san

[ v3_mtls_svc_users_webapp_san ]
IP.1                   = 127.0.0.1
DNS.1                  = localhost
DNS.2                  = webapp
