@model Guid

@{
    ViewData["Title"] = $"Jobs - {Model}";
}

@Html.AntiForgeryToken()

<table id="job-results-table">
    <tr>
        <th>Status</th>
        <th>Started At</th>
        <th>Finished At</th>
        <th>Results</th>
    </tr>
</table>

<script>
    onload = async () => { await getResults('@(Model)'); };
</script>
