@using User.WebApp.Models;
@model CreateUserJobRequest;

@{
    ViewData["Title"] = $"Jobs - Create";
}

@Html.AntiForgeryToken()

<form id="create-job-form" action="/api/jobs" method="post" enctype="multipart/form-data">
    <input asp-for="Script" accept=".sh"/>
    <input asp-for="Timeout" placeholder="Timeout" />
    <input type="submit" value="Upload" />
</form>

<script>
    document.getElementById('create-job-form').addEventListener('submit', async function(e) {
        e.preventDefault();
        await createJob(e.currentTarget);
    });
</script>
