services:
    postgres:
      container_name: postgres
      image: postgres:alpine
      entrypoint: /bin/sh
      command: /etc/github-actions/start-for-github.sh
      restart: unless-stopped
      user: 0:0
      environment:
        POSTGRES_USER: superuser@postgres
        POSTGRES_PASSWORD: superuser
        POSTGRES_DB: postgres
      ports:
        - 5432:5432
      volumes:
        - ./config:/etc/github-actions:ro
      networks:
        - test-net

networks:
  test-net:
    name: jobs_system_network
    driver: bridge
