services:
    postgres:
      container_name: postgres
      image: postgres:alpine
      entrypoint: /bin/sh
      command: -c "whoami; ls -la /etc/postgres-config"
      # command: >-
      #   -c ssl=on
      #   -c ssl_min_protocol_version=TLSv1.3
      #   -c ssl_cert_file=/etc/postgres-config/svc_postgres.crt
      #   -c ssl_key_file=/etc/postgres-config/svc_postgres.key
      #   -c ssl_ca_file=/etc/postgres-config/svc_postgres.truststore.pem
      #   -c ssl_crl_file=/etc/postgres-config/crl.pem
      #   -c ssl_passphrase_command='cat /etc/postgres-config/pass.txt'
      #   -c hba_file=/etc/postgres-config/pg_hba.conf
      restart: unless-stopped
      user: 70:70
      environment:
        POSTGRES_USER: superuser@postgres
        POSTGRES_PASSWORD: superuser
        POSTGRES_DB: postgres
      ports:
        - 5432:5432
      volumes:
        - ./config:/etc/postgres-config:ro
