services:
    job-<JOB_ID>:
      image: alpine
      command: -c "/bin/sh /etc/job/run.sh 1>/dev/stdout 2>/dev/stderr"
      restart: no
      user: 10000:10000
      deploy:
        resources:
          limits:
            cpus: <JOB_CPU>
            memory: <JOB_MEMORY>M
      volumes:
        - <JOB_DIR>/run.sh:/etc/job/run.sh
        - <JOB_DIR>/stdout.txt:/dev/stdout
        - <JOB_DIR>/stderr.txt:/dev/stderr
