name: .NET Integration Tests

on:
  push:
    branches: [ "master" ]
    paths:
      - 'src/**'
      - '.github/**'
  pull_request:
    branches: [ "master" ]
    paths:
      - 'src/**'
      - '.github/**'

jobs:
  main:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: .

    steps:
      - uses: actions/checkout@v3

      - name: Setup containers environments
        run: |
          chmod 500 ${{github.workspace}}/infrastructure/Tools/Database/config/
          chmod 400 -R ${{github.workspace}}/infrastructure/Tools/Database/config/*
          chown 70:70 -R ${{github.workspace}}/infrastructure/Tools/Database/config/
          chmod 500 ${{github.workspace}}/infrastructure/Tools/Broker/config/
          chmod 400 -R ${{github.workspace}}/infrastructure/Tools/Broker/config/*
          chown 1000:1000 -R ${{github.workspace}}/infrastructure/Tools/Database/config/

      - name: Start PostgreSQL container
        run: docker compose -f ${{ github.workspace }}/infrastructure/Tools/Database/docker-compose.github.yaml up -d
      - name: Start Apache Kafka container
        run: docker compose -f ${{ github.workspace }}/infrastructure/Tools/Broker/docker-compose.github.yaml up -d

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 9.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Test
        run: dotnet test --no-build --verbosity normal --filter TestCategory=Integration

      - name: Stop PostgreSQL container
        if: always()
        run: docker compose -f ${{ github.workspace }}/infrastructure/Tools/Database/docker-compose.github.yaml down
      - name: Stop Apache Kafka container
        if: always()
        run: docker compose -f ${{ github.workspace }}/infrastructure/Tools/Broker/docker-compose.github.yaml down
