name: .NET Unit Tests

on:
  push:
    branches: [ "master" ]
    paths:
      - 'src/**'
      - '.github/workflows/unit-tests.dotnet.yml'
  pull_request:
    branches: [ "master" ]
    paths:
      - 'src/**'
      - '.github/workflows/unit-tests.dotnet.yml'

jobs:
  main:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]

    runs-on: ${{ matrix.os }}

    defaults:
      run:
        working-directory: .

    steps:
      - uses: actions/checkout@v3
  
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 9.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - name: Test
        run: dotnet test --no-build --verbosity normal --filter TestCategory=Unit
